.supportSection{
    padding: 7rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.supportSectionContent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10rem;
}

.titleDiv {
    padding: 0.2rem;
    border-bottom: 2px solid var(--azul-claro);
}

.effectTitle {
    font-size: 2.5rem;
    font-weight: 600;
}

/* Desktop Large Media Query */
@media (max-width: 1500px) {
    .supportSection {
        padding: 6rem 0;
    }

    .supportSectionContent {
        width: 100%;
        max-width: 1200px;
        margin-top: 8rem;
        gap: 2rem;
    }

    .effectTitle {
        font-size: 2.3rem;
    }
}

/* Tablet Media Query */
@media (max-width: 1265px) {
    .supportSection {
        padding: 5rem 0;
    }

    .supportSectionContent {
        flex-direction: column;
        gap: 3rem;
        margin-top: 6rem;
    }

    .effectTitle {
        font-size: 2.2rem;
    }
}

/* Mobile Media Query */
@media (max-width: 1012px) {
    .supportSection {
        padding: 7rem 0;
    }

    .supportSectionContent {
        gap: 3.5rem;
        margin-top: 4rem;
    }

    .effectTitle {
        font-size: 2rem;
        text-align: center;
    }

    .titleDiv {
        text-align: center;
    }
}

@media (max-width: 500px) {
    .supportSection {
        padding: 2rem 0;
    }

    .supportSectionContent {
        gap: 1.5rem;
        margin-top: 3rem;
    }

    .effectTitle {
        font-size: 1.8rem;
        text-align: center;
    }
}
