.benefitContainer {
    margin: 3rem 0;
    width: 100%;
}

.titleBenefit {
    font-size: 2.2rem;
    color: white;
    font-weight: 800;
    margin-bottom: 1rem;
}

.pBenefit {
    font-size: 1.2rem;
    color: white;
    font-weight: 400;
    margin-bottom: .5rem;
}

.dataBenefit {
    margin-bottom: 2rem;
}

.benefitImage {
    padding: .5rem;
    background: linear-gradient(to right, var(--azul-claro), var(--celeste));
    border-radius: 10px;

    video {
        border-radius: 5px;
    }

    img {
        width: 100%;
        border-radius: 5px;
    }
}

.horizontal {
    display: flex;
    justify-content: space-between;
    gap: 2rem;

    .dataBenefit {
        width: 500px;
    }
}

.horizontal-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 2rem;

    .dataBenefit {
        width: 600px;
    }
}

.special-mobile {
    display: flex;
    gap: 1rem;
    justify-content: space-between;

    .dataBenefit {
        width: auto;
    }

    .specialDescription {
        margin-top: 2rem;
    }

    .iconsContainer {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }

    .iconContainer {
        display: flex;
        align-items: center;
        gap: .5rem;
        margin: .8rem 0;
    }

    .dataBenefit {
        width: 700px;
    }
}

.imageVertical {
    width: 100%;
}

.imageHorizontal {
    width: 50%;
}

.videoSpecialMobile {
    width: 350px;
}

.video {
    width: 100%;
}

@media (max-width: 1160px) {
    .special-mobile {
        .dataBenefit {
            width: 500px;
        }
    }
}

@media (max-width: 1030px) {
    .special-mobile {
        .dataBenefit {
            width: 400px;
        }
    }
}

@media (max-width: 880px) {
    .horizontal {
        flex-direction: column;
        gap: 0;

        .dataBenefit {
            width: 100%;
        }
    }

    .horizontal-reverse {
        flex-direction: column;
        gap: 0;
        align-items: center;

        .dataBenefit {
            width: 100%;
        }

        .imageHorizontal {
            width: 80%;
        }
    }

    .special-mobile {
        flex-direction: column;
        gap: 0;
        align-items: center;

        .dataBenefit {
            width: 100%;
        }

        .videoSpecialMobile {
            width: 50%;
        }
    }
}

@media (max-width: 760px) {
    .titleBenefit {
        font-size: 2rem;
    }
}

@media (max-width: 630px) {
    .special-mobile {
        .videoSpecialMobile {
            width: 300px;
        }
    }

    .horizontal-reverse {
        .imageHorizontal {
            width: 100%;
        }
    }
}

@media (max-width: 400px) {
    .special-mobile {
        .videoSpecialMobile {
            width: 250px;
        }
    }

    .titleBenefit {
        font-size: 1.8rem;
    }
}