.listItemsContainer {
    padding: 1rem;
    border-left: 1px solid #1282A2;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listItemsContainer:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.listText {
    font-weight: 250;
}