.title {
    font-size: 3rem;
    font-weight: 550;
    text-align: center;
    width: 100%;
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

@media (max-width: 1300px) {
    .title {
        width: 100%;
    }
}

.highlight {
    padding: 0.7rem 0.7rem;
    background:  #1283a236;
    border-radius: 15px;
}

.new-color {
    color: var(--azul-claro);
    background: linear-gradient(to right, var(--azul-claro), var(--azul-claro));
    background-clip: text;
    -webkit-background-clip: text;
}