.heroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 14rem auto 2rem auto;
    width: 100%;
    max-width: 1200px;
}

.heroContainer .title {
    font-size: 2.5rem;
}

.pHero {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
    margin: 2rem 0;
    color: rgb(45, 45, 45);
}

.heroImage {
    padding: 1rem;
    margin-top: 7rem;
    width: 1400px;
    background: linear-gradient(to bottom, var(--azul-claro), #1283a256);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0px -15px 30px -8px var(--gris);

    .youtubeVideo {
        width: 100%;
        height: 0;
        padding-bottom: 56.25%; /* 16:9 aspect ratio */
        position: relative;
        border-radius: 5px;
        overflow: hidden;
        border: none;
    }

    .youtubeVideo iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 5px;
    }
}

/* Desktop Large Media Query */
@media (max-width: 1500px) {
    .heroImage {
        width: 100%;
        max-width: 900px;
        margin: 5rem auto 0 auto;
    }
}
/* Tablet Media Query */
@media (max-width: 1265px) {
    .heroContainer {
        margin: 12rem auto 2rem auto;
        max-width: 900px;
    }

    .heroContainer .title {
        font-size: 2.2rem;
        text-align: center;
    }

    .heroImage {
        width: 100%;
        max-width: 800px;
        margin: 5rem auto 0 auto;
    }

    .pHero {
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

/* Tablet Media Query */
@media (max-width: 1012px) {
    .heroContainer {
        margin: 8rem auto 0rem auto;
        max-width: 600px;
    }

    .heroContainer .title {
        font-size: 1.5rem;
        text-align: center;
    }

    .heroImage {
        width: 100%;
        max-width: 500px;
        margin: 2.5rem auto 0 auto;
        padding: 0.5rem;
    }

    .pHero {
        font-size: 0.9rem;
        margin: 1rem 0;
        padding: 0 1rem;
        text-align: center;
    }
}

/* Mobile Media Query */
@media (max-width: 590px) {

    .heroContainer .title {
        font-size: 0.9rem;
        text-align: center;
    }

    .heroImage {
        width: 100%;
        max-width: 350px;
        margin: 1.2rem auto 0 auto;
        padding: 0.25rem;
    }

    .pHero {
        font-size: 0.75rem;
        padding: 0 0.5rem;
        text-align: center;
    }
}