.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
    padding: 1.2rem 0;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--blanco);
    background: linear-gradient(to right, var(--azul-oscuro), var(--azul-claro));
    border: 1px solid rgb(142, 142, 142);
    border-radius: 10px;
    cursor: pointer;
    transition: all .1s ease;
    margin-bottom: .4rem;
}

.button:hover {
    transform: translateY(-.2rem);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.pButton {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    color: white;
}

.boxShadow {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
}

/* Tablet Media Query */
@media (max-width: 1265px) {
    .button {
        padding: 1.1rem 0;
        font-size: 1.4rem;
    }

    .pButton {
        font-size: 1.4rem;
    }
}

/* Mobile Media Query */
@media (max-width: 768px) {
    .button {
        padding: 1rem 0;
        font-size: 1.3rem;
    }

    .pButton {
        font-size: 1.3rem;
    }
}

@media (max-width: 600px) {
    .button {
        padding: 1rem 0;
        font-size: 1.2rem;
    }

    .pButton {
        font-size: 1.2rem;
    }
}

/* Mobile Media Query */
@media (max-width: 500px) {
    .button {
        padding: 0.8rem 0;
        font-size: 1rem;
    }

    .pButton {
        font-size: 1rem;
    }
}