.specialCard {
    padding: 0.9rem;
    border: 1px solid var(--azul-claro);
    border-radius: 10px;
    background-color: var(--gris);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.specialCardTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Archivo", sans-serif;
    text-align: left;
}

.specialCardDescription {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
    white-space: pre-line;
}

.specialCardImage {
    width: auto;
    height: 8rem;
    margin-bottom: 3rem;
}

.specialCard:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 20px rgba(26, 79, 67, 0.151);
}

@media (max-width: 1500px) {
    .specialCard {
        padding: 0.85rem;
        width: 100%;
        box-sizing: border-box;
    }

    .specialCardTitle {
        font-size: 1.4rem;
    }

    .specialCardDescription {
        font-size: 1.1rem;
    }

    .specialCardImage {
        height: 7rem;
        max-width: 100%;
    }
}

/* Tablet Media Query */
@media (max-width: 1024px) {
    .specialCardTitle {
        font-size: 1.4rem;
        margin-bottom: 18px;
    }

    .specialCardDescription {
        font-size: 1.1rem;
    }

    .specialCardImage {
        height: 7rem;
        margin-bottom: 2.5rem;
    }
}

/* Mobile Media Query */
@media (max-width: 768px) {
    .specialCard {
        padding: 0.7rem;
    }

    .specialCardTitle {
        font-size: 1.3rem;
        margin-bottom: 15px;
        text-align: center;
    }

    .specialCardDescription {
        font-size: 1rem;
        text-align: center;
    }

    .specialCardImage {
        height: 6rem;
        margin-bottom: 2rem;
    }
}

@media (max-width: 500px) {
    .specialCard {
        padding: 0.5rem;
    }

    .specialCardTitle {
        font-size: 1.2rem;
        margin-bottom: 12px;
    }

    .specialCardDescription {
        font-size: 0.9rem;
    }

    .specialCardImage {
        height: 5rem;
        margin-bottom: 1.5rem;
    }
}