.howItWorksContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.howItWorksContent {
    display: flex;
    gap: 1rem;
    margin-top: 5rem;
    width: 100%;
}

.howItWorksSteps {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
}

.step {
    margin: 1rem 0;
}

.stepTitle {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.pStep {
    font-size: 1.2rem;
    margin-top: .5rem;
    color: rgb(45, 45, 45);
}

.howItWorksImage {
    padding: .5rem;
    width: 70%;
    border-radius: 10px;
    background: linear-gradient(to right, var(--azul-oscuro), var(--azul-claro));

    video {
        border-radius: 5px;
    }
}

@media (max-width: 1160px) {
    .howItWorksContent {
        flex-direction: column;
        margin-top: 3rem;
        align-items: center;
    }

    .howItWorksSteps {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        gap: 1.5rem;
    }

    .step {
        width: 300px;
    }

    .howItWorksImage {
        width: 100%;
    }

}

@media (max-width: 1160px) {

    .howItWorksSteps {
        flex-direction: column;
        gap: 1rem;
    }

    .step {
        width: 100%;
    }
}