.card {
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    background-color: white;
    background-image: linear-gradient(to right, #1283a22a, #ffffff);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 20px;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
}

.card-description {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
    white-space: pre-line;
}

.card-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}