.card {
    padding: 10px;
    border: 1px solid var(--azul-claro);
    border-radius: 10px;
    background-color: var(--gris);
    width: 100%;
}

.card-icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 20px;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Archivo", sans-serif;
}

.card-description {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.5;
    white-space: pre-line;
}

.card-icon {
    width: 2.5rem;
    height: 2.5rem;
}