.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navBarContainer {
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.titleNavBar {
    user-select: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 900;
    color: white;
}

.navBarContainer.scrolled {
    background-color: rgba(29, 53, 100, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    color: white;
}

ul li {
    color: white;
    cursor: pointer;
    transition: all 0.1 ease;
}

ul li:hover {
    color: var(--celeste);
}

.divIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sideBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    background-color: var(--azul);
    right: -400px;
    width: 50%;
    height: 100vh;
    transition: right 0.3s ease-in-out;
    box-shadow: -7px 0px 36px 4px var(--azul-claro);
    z-index: 1000;
    align-items: end;
    padding: 0;
}

.sideBar.open {
    right: 0;
}

.ulSideBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2rem;
    gap: 2rem;
    padding: 0;
    align-self: flex-start;
}

.liSideBar {
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.1s ease;
}

.closeButton {
    margin: 2rem;
}

@media (max-width: 1300px) {
    .navBarContainer {
        margin: 1rem;
    }
}

@media (max-width: 700px) {
    .titleNavBar {
        font-size: 2rem;
    }
}

@media (max-width: 500px) {
    .navBarContainer {
        padding: 1rem;
    }
}