.navBar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navBarContainer {
    border-radius: 10px;
    margin: 1rem auto;
    padding: 1rem 2rem;
    max-width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease;
}

.titleNavBar {
    user-select: none;
    cursor: pointer;
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--azul-claro);
    background: linear-gradient(to right, var(--azul-oscuro), var(--azul-claro));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navBarContainer.scrolled {
    background-color: #1283a2b2;
    backdrop-filter: blur(20px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
}

.titleNavBar.scrolled {
    color: white;
    background: linear-gradient(white, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.ulNavBar {
    display: flex;
    list-style: none;
    gap: 1rem;
    color: white;
}

.liNavBar {
    color: var(--azul-claro);
    cursor: pointer;
    transition: all 0.1 ease;
}

.liNavBar.scrolled {
    color: white;
}

.liNavBar:hover {
    text-decoration: underline;
}

.divIconContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Desktop Large Media Query */
@media (max-width: 1500px) {
    .navBarContainer {
        margin: 1rem 5rem;
    }
}

/* Tablet Media Query */
@media (max-width: 1265px) {

    .navBar {
        display: flex;
        justify-content: center;
        position: fixed;
    }

    .navBarContainer {
        margin: 1rem 2rem;
        padding: 1rem 1.5rem;
        width: 800px;
    }

    .titleNavBar {
        font-size: 2.2rem;
    }

    .ulNavBar {
        gap: 0.8rem;
    }

    .liNavBar {
        font-size: 0.9rem;
    }
}


/* Tablet Media Query */
@media (max-width: 1012px) {
    .navBar {
        position: fixed;
    }

    .navBarContainer {
        margin: 1rem 1rem;
        padding: 1rem 1.5rem;
        width: 650px;
    }

    .titleNavBar {
        font-size: 1.8rem;
    }
}

/* Mobile Media Query */
@media (max-width: 590px) {
    .navBar{
        position: fixed;
        width: 100%;
    }

    .navBarContainer {
        padding: 0.8rem;
    }

    .titleNavBar {
        font-size: 1.2rem;
    }

    .liNavBar {
        font-size: 0.7rem;
    }
}