.footerContainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 1rem;
    width: 100%;
}

.footerContent {
    width: 1400px;
}

.footerTitle {
    cursor: default;
    user-select: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--azul-oscuro);
    margin-bottom: 1rem;
}

.pFooter {
    color: var(--azul-oscuro);
}

.contact {
    margin: 1rem 0;
    display: flex;
    gap: 1rem;
}

.contact p {
    color: var(--azul-oscuro);
}

@media (max-width: 530px) {
    .footerContainer {
        flex-direction: column;
    }
}