* {
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}

#benefits {
    width: 100%;
    padding: 9rem 0;
    display: block;
}

/* Tablet Media Query */
@media (max-width: 1265px) {
    main {
        margin: 0 auto;
        max-width: 850px;
        width: 100%;
    }

    #benefits {
        width: 100%;
        padding: 6rem 0;
        display: block;
    }

    .forEveryoneSection {
        padding: 5rem 0;
    }

    #benefits, .forEveryoneSection, #price, #support {
        width: 100%;
        margin: 0 auto;
    }
}

/* Desktop Large Media Query */
@media (max-width: 1500px) {
    main {
        margin: 0 auto;
        max-width: 1200px;
        width: 100%;
    }

    #benefits {
        width: 100%;
    }

    .forEveryoneSection {
        padding: 6rem 0;
    }

    #benefits, .forEveryoneSection, #price, #support {
        width: 100%;
        margin: 0 auto;
    }
}

/* Mobile Media Query */
@media (max-width: 1012px) {
    main {
        margin: 0;
        padding: 0;
        width: 100vw;
        max-width: 100vw;
    }

    #benefits {
        width: 100%;
        padding: 7rem 0;
        display: block;
    }

    .forEveryoneSection {
        padding: 0 0;
    }

    #benefits, .forEveryoneSection, #price, #support {
        width: 100vw;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 590px) {
    main {
        margin: 0;
        padding: 0;
        width: 100vw;
        max-width: 100vw;
    }

    #benefits {
        width: 100%;
        padding: 7rem 0;
        display: block;
    }

    .forEveryoneSection {
        padding: 2rem 0;
    }

    #benefits, .forEveryoneSection, #price, #support {
        width: 100vw;
        margin: 0;
        padding-left: 0;
        padding-right: 0;
    }
}
