@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --azul-oscuro: #0A4A5A;
  --azul-claro: #1282A2;
  --gris: #FBFBFB;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Archivo", sans-serif;
  background-color: var(--gris);
  width: 100%;
}

#benefits,
#howItWorks,
#price {
  scroll-margin-top: 120px;
}