.benefits-cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    padding: 20px;
    margin-top: 5rem;
    width: 100%;
}

.benefits-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

