.priceCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff;
    border: 2px solid #eee;
    border-radius: 12px;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 8px 20px rgba(33, 102, 96, 0.558);
    width: 28rem;
    margin: 1rem;
    transition: all .2s ease;
}

.priceCard:hover {
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(33, 102, 96, 0.658);
}

.priceCard.highlight {
    border-color: #1d9bf0;
    background: linear-gradient(135deg, #1d9bf0, #48cae4);
    color: white;
}

.priceCardTitle {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
    padding: 0.3rem;
    border-bottom: 1px solid var(--azul-claro);
}

.priceCardPrice {
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--azul-claro);
    background: linear-gradient(to bottom, var(--azul-oscuro), var(--azul-claro));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.priceCardFeatures {
    list-style: none;
    padding: 0rem;
    margin-top: 2rem;
    flex: 1;
    min-height: 400px;
}

.priceCardFeatures li {
    margin: 1rem 0;
    text-align: left;
    font-size: 1.2rem;
}

.priceCardFeatures li::before {
    content: "✓";
    color: var(--azul-claro);
    margin-right: 0.5rem;
}

/* Desktop Large Media Query */
@media (max-width: 1500px) {
    .priceCard {
        padding: 2rem;
        width: 600px;
        height: 100%;
    }

    .priceCardTitle {
        font-size: 2.2rem;
        margin-bottom: 3.5rem;
    }

    .priceCardPrice {
        font-size: 2.7rem;
    }

    .priceCardFeatures {
        margin-bottom: 4rem;
        min-height: 400px;
    }

    .priceCardFeatures li {
        font-size: 1.1rem;
    }
}

/* Tablet Media Query */
@media (max-width: 1012px) {
    .priceCard {
        padding: 1.2rem;
        width: 520px;
    }

    .priceCardTitle {
        font-size: 1.8rem;
        margin-bottom: 2.5rem;
    }

    .priceCardPrice {
        font-size: 2.2rem;
    }

    .priceCardFeatures {
        margin-bottom: 3rem;
        margin-top: 0.7rem;
        min-height: 350px;
    }

    .priceCardFeatures li {
        font-size: 1rem;
    }
}

/* Mobile Media Query */
@media (max-width: 590px) {
    .priceCard {
        padding: 0.8rem;
        margin: 0.3rem;
        width: 350px;
    }

    .priceCardTitle {
        font-size: 1.4rem;
        margin-bottom: 2rem;
    }

    .priceCardPrice {
        font-size: 1.9rem;
    }

    .priceCardFeatures {
        margin-bottom: 2.5rem;
        min-height: 280px;
    }

    .priceCardFeatures li {
        font-size: 0.9rem;
    }
}